.header {
  display: flex;
  flex-direction: column;
  height: 12.5rem;
  background: #0D0D0D;
  align-items: center;
}

.header img {
  width: 7.875rem;
  height: 3rem;
  margin-top: 72px;
}

.task {
  display: flex;
  flex-direction: row;
  gap: 8px;
  margin-top: 173px;
  position: absolute;
}